/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
  
    body{
      .judul {
        text-align: center;
        margin-bottom: 20px;
      }
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: lavender;
    }

    .container3 {
        justify-content: space-around;
        display: flex;
    }

    .left-column {
        padding: 30px;
        .kalimatPembuka{
            text-align: justify;
            width:700px;
            font-size: medium;
            margin-bottom: 20px;

        }
        .box1 {
            width: 600px;
            height: 50vh;
            background: rgb(207, 207, 244);
            border-radius: 12px;
            text-align: center;
            box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
            margin-bottom: 20px;
            margin-left: 50px;
          }
    }
 
.right-column{
    padding: 30px;
 .box2 {
    width: 550px;
    height: 25vh;
    background: rgb(207, 207, 244);
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
    margin-bottom: 500px;
  }
  .pernyataan1 {
    text-align: justify;
    font-size:small;
    margin-top: 50px;
  }
}
 

  h1 {
    color: rgb(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
  }

    .content {
        padding:10px;  
    }
    
    .input {
        background: #fff;
        box-shadow: 0px 0px 65px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .input label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }

    .input input {
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }
   
    .inputWeight {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .inputWeight label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }

   .inputWeight input {
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }

    .inputHeight {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .inputHeight label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }

   .inputHeight input {
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }

  
button.calculate {
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    background: rgb(146, 146, 236);
    font-size: 18px;
    border-radius: 7px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: 0.3s;

  }
  button.calculate:hover {
    background: rgb(240, 207, 212);
    color: rgb(146, 146, 236);
  }

  
  
.result {
    padding: 10px 20px;
  }
  .result p {
    font-weight: 600;
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
  }
  .result #result {
    font-size: 36px;
    font-weight: 900;
    color: steelblue;
    background-color:lavender;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
  }
  #comment {
    color: steelblue;
    font-weight: 800;
    font-size: medium;
  }

.comment {
    display: none;
    border: dashed 1px;
    border-radius: 7px;
    padding: 2px;
}

.gender {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 20px;
}

  /* Style for Radio */
.gender .container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    margin-top: 7px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .gender .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* mouse-over */
  .gender .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* input checked */
  .gender .container input:checked ~ .checkmark {
    background-color:rgb(153, 153, 228);
  }
  
  /*the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /*the indicator (dot/circle) when checked */
  .gender .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .gender .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  /* END Style for Radio */

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
    .input label {
        font-size: 18px;
    }

    .inputHeight label, .inputWeight label {
        font-size: 14px;
    }

    .input input, .inputHeight input, .inputWeight input{
        font-size: 24px;
    }
